/* .modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.modalClose {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
} */


.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75); /* Darker overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
}

.modalContent {
    background: #fff;
    padding: 5px;
    border-radius: 50px;
    width: 90%; /* Adjust the percentage to control the width */
    max-width: 800px; /* Increase the maximum width */
    height: auto; /* You can set a specific height if necessary, like 'height: 80%;' */
    position: relative;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2); /* Smooth shadow effect */
    opacity: 0;
    transform: translateY(-50px); /* Initial slight offset for the animation */
    animation: slideUp 0.3s ease-in-out forwards;
  
}

.modalClose {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: semi-bold;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.modalClose:hover {
  color: #333; /* Subtle red on hover */
}

.modalClose:focus {
  outline: none;
}

/* Add a glowing border effect */
.modalContent::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: 12px;
  background: #ffff;
  background-size: 400%;
  z-index: -1;
  animation: borderGlow 6s linear infinite;
}

/* Keyframes for smooth slide-up animation */
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50px); /* Starts below */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Keyframes for fading in the modal overlay */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Glowing border animation */
@keyframes borderGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
